<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <style>
        body {
            margin: 50px 0 0 0;
            font-family: 'Lato', sans-serif;
            text-align: center;
            color: #aaa;
            font-size: 18px;
        }

        h1 {
            color: #719e40;
            letter-spacing: -3px;
            font-size: 100px;
            font-weight: 200;
            margin-bottom: 0;
        }

    </style>
</head>
<body>

<h1>{{ title }}</h1>

<p>{{ text }}</p>

</body>
</html>
        
